$background: #4a4a4a;

.bar {
    background-color: rgba(58, 58 , 58, 0.0);
    color: #b0b4bc;
}

.menu {
    background-color: #3a3a3a;
    color: #b0b4bc;
    border-radius: 15%;
}

.music {
    font: 12px "Cascadia Code";
    font-size: 1.2rem;
    border-radius: 19px;
    margin-right: 1rem;
    background-color: #3e3e3e;
}

.sidestuff slider {
    all: unset;
    color: #ffd5cd;
    border-radius: 0.0rem;
    min-height: 0.7rem;
}

.sidestuff {
    color: #ffd5cd;
    border-radius: 0.0rem;
    border-radius: 19px;
    background-color: #3e3e3e;
    padding-left: 1rem;
    margin-right: 1rem;
}


.metric scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 10px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.label-ram {
    font-size: large;
}

.workspaces {
    all: unset;
    border-radius: 19px;
    background-color: #3e3e3e;
    margin-left: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.15rem;
}


.workspace-button, .workspace-icon, .active-workspace-button {
    all: unset;
    font: 12px "Cascadia Code";
    font-size: 1.2rem;
    margin-left: 0.5rem;
    border: 0;
    border-radius: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.workspace-icon {
    font-size: 2rem;
}

.workspace-button:hover, .workspace-icon:hover {
    border: 2px  solid;
    border-radius: 19px;
}

.active-workspace-button {
    border: 2px  solid;
    border-radius: 19px;
}


.date-time {
    font: 12px "Cascadia Code";
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.label {
    all: unset;
    font: 12px "Cascadia Code";
    font-size: 2rem;
    margin-left: 0.5rem;
}

.icon-button {
    all: unset;
    font: 12px "Cascadia Code";
    font-size: 2rem;
    border: 0;
    border-radius: 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.player-button {
    all: unset;
    font: 12px "Cascadia Code";
    font-size: 1.5rem;
    border: 0;
    border-radius: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.shutdown {
    color: #ffb5ad;
}

.restart {
    color: #a6e3a2;
}

.track-controller {
    all: unset;
    font: 12px "Cascadia Code";
    font-size: 2.0rem;
    border: 0;
    border-radius: 0;
    margin-left: 1rem;
    margin-right: 1rem;

}
